In [19]:
import os
import sys
sys.path.append(os.pardir)

from src.database import get_database
from src.text2sql import get_langchain_response, init_llm

In [20]:
llm = init_llm(model_name="mistral", verbose=False)

In [21]:
server_name = "localhost"
port = 5432
database_name = "test_db"

db = get_database(server_name=server_name, port=port, database_name=database_name)

In [22]:
question = "What were the total sales for electronics in the whole month of November 2025?"

In [23]:
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" Here is the SQL query that would answer your question:\n\n```sql\nSELECT SUM(sales.total_amount) as total_electronics_sales\nFROM sales\nJOIN products ON sales.product_id = products.product_id\nWHERE products.category = 'Electronics' AND sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30';\n```\n\nThis query joins the `sales` and `products` tables based on the `product_id`. It filters for the 'Electronics' category and the month of November 2025, and then sums up the total amount from all matching sales to get the total sales for electronics in that month." additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T13:11:16.869687Z', 'done': True, 'done_reason': 'stop', 'total_duration': 5310421833, 'load_duration': 14673417, 'prompt_eval_count': 1397, 'prompt_eval_duration': 52246000, 'eval_count': 183, 'eval_duration': 5242774584, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--ce20d772-d4c6-402a-a87c-e49e3e925462-0' usage_metadata={'input_tokens': 1397, 'output_tokens': 183, 'total_tokens': 1580}
SELECT SUM(sales.total_amount) as total_electronics_sales FROM sales JOIN products ON sales.product_id = products.product_id WHERE products.category = 'Electronics' AND sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30'
[(Decimal('7600.00'),)]

In [24]:
query

"SELECT SUM(sales.total_amount) as total_electronics_sales FROM sales JOIN products ON sales.product_id = products.product_id WHERE products.category = 'Electronics' AND sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30'"

In [25]:
result

"[(Decimal('7600.00'),)]"

In [26]:
question = "What product had the highest total sales in the whole month of November 2025?"

In [27]:
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" Here is the SQL query that will return the product with the highest total sales in the entire month of November 2025:\n\n```sql\nSELECT products.product_name, SUM(sales.total_amount) as total_sales\nFROM sales\nJOIN products ON sales.product_id = products.product_id\nWHERE sale_date = '2025-11-01' OR sale_date = '2025-11-02' OR sale_date = '2025-11-03'\nGROUP BY products.product_name\nORDER BY total_sales DESC\nLIMIT 1;\n```\n\nThis query joins the sales and products tables, filters for November 2025 sales (November has three days in this case), groups by product names, sums up the total sales for each product, orders the results in descending order of total sales, and finally limits the result to only the first row, which will be the product with the highest total sales." additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T13:11:23.807533Z', 'done': True, 'done_reason': 'stop', 'total_duration': 6878368334, 'load_duration': 7794834, 'prompt_eval_count': 1396, 'prompt_eval_duration': 113565042, 'eval_count': 232, 'eval_duration': 6756268917, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--e873f80d-939c-452e-b129-291a94f0ceb2-0' usage_metadata={'input_tokens': 1396, 'output_tokens': 232, 'total_tokens': 1628}
SELECT products.product_name, SUM(sales.total_amount) as total_sales FROM sales JOIN products ON sales.product_id = products.product_id WHERE sale_date = '2025-11-01' OR sale_date = '2025-11-02' OR sale_date = '2025-11-03' GROUP BY products.product_name ORDER BY total_sales DESC LIMIT 1
[('Laptop', Decimal('2400.00'))]

In [28]:
query

"SELECT products.product_name, SUM(sales.total_amount) as total_sales FROM sales JOIN products ON sales.product_id = products.product_id WHERE sale_date = '2025-11-01' OR sale_date = '2025-11-02' OR sale_date = '2025-11-03' GROUP BY products.product_name ORDER BY total_sales DESC LIMIT 1"

In [32]:
question = "What unique products had sales less than 500 in the whole month of November 2025?"
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" Here is a syntactically correct SQL query to answer the question:\n\n```sql\nSELECT DISTINCT products.product_name\nFROM products\nJOIN sales ON products.product_id = sales.product_id\nJOIN stores ON sales.store_id = stores.store_id\nWHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30' AND sales.total_amount < 500;\n```\n\nThis query will join the `products`, `sales`, and `stores` tables on their respective foreign keys, filter for November 2025 sales, and select distinct product names where the total amount is less than 500." additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T13:13:24.677146Z', 'done': True, 'done_reason': 'stop', 'total_duration': 5226263917, 'load_duration': 14108167, 'prompt_eval_count': 1400, 'prompt_eval_duration': 159837000, 'eval_count': 176, 'eval_duration': 5050293834, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--3ee4ce87-1810-4c53-8a25-43101c636b46-0' usage_metadata={'input_tokens': 1400, 'output_tokens': 176, 'total_tokens': 1576}
SELECT DISTINCT products.product_name FROM products JOIN sales ON products.product_id = sales.product_id JOIN stores ON sales.store_id = stores.store_id WHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30' AND sales.total_amount < 500
[('Coffee Maker',), ('Desk Chair',), ('Notebook',)]

In [33]:
query

"SELECT DISTINCT products.product_name FROM products JOIN sales ON products.product_id = sales.product_id JOIN stores ON sales.store_id = stores.store_id WHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30' AND sales.total_amount < 500"

In [34]:
result

"[('Coffee Maker',), ('Desk Chair',), ('Notebook',)]"

In [ ]:
question = "What product had the least total sales in the whole month of November 2025?"
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" SELECT products.product_name, SUM(sales.total_amount) as total_sales\nFROM sales\nJOIN stores ON sales.store_id = stores.store_id\nJOIN products ON sales.product_id = products.product_id\nWHERE sale_date = '2025-11-01' OR sale_date = '2025-11-02' OR sale_date = '2025-11-03'\nGROUP BY products.product_name\nORDER BY total_sales ASC\nLIMIT 1;" additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T00:21:51.42287Z', 'done': True, 'done_reason': 'stop', 'total_duration': 4000427917, 'load_duration': 18666959, 'prompt_eval_count': 1396, 'prompt_eval_duration': 149412833, 'eval_count': 134, 'eval_duration': 3831100375, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--47dc482d-42e1-47ac-bcc9-4a7ab78d6b1c-0' usage_metadata={'input_tokens': 1396, 'output_tokens': 134, 'total_tokens': 1530}
SELECT products.product_name, SUM(sales.total_amount) as total_sales FROM sales JOIN stores ON sales.store_id = stores.store_id JOIN products ON sales.product_id = products.product_id WHERE sale_date = '2025-11-01' OR sale_date = '2025-11-02' OR sale_date = '2025-11-03' GROUP BY products.product_name ORDER BY total_sales ASC LIMIT 1
[('Desk Chair', Decimal('750.00'))]

In [ ]:
question = "What are the total sales quantities per product name in the whole month of November 2025?"
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" Here is a syntactically correct SQL query that should return the desired result:\n\n```sql\nSELECT products.product_name, SUM(sales.quantity) as total_quantities\nFROM sales\nJOIN products ON sales.product_id = products.product_id\nWHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30'\nGROUP BY products.product_name;\n```\n\nThis query joins the sales and products tables on the product_id column, filters for sales that occurred in November 2025 using the sale_date column, groups the results by product name, and calculates the total quantity for each product using the SUM function." additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T13:11:51.25487Z', 'done': True, 'done_reason': 'stop', 'total_duration': 5211641791, 'load_duration': 10120208, 'prompt_eval_count': 1398, 'prompt_eval_duration': 139996667, 'eval_count': 176, 'eval_duration': 5060917542, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--92501c62-d1d0-40ff-ad14-abb7631e7c71-0' usage_metadata={'input_tokens': 1398, 'output_tokens': 176, 'total_tokens': 1574}
SELECT products.product_name, SUM(sales.quantity) as total_quantities FROM sales JOIN products ON sales.product_id = products.product_id WHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30' GROUP BY products.product_name
[('Coffee Maker', 6), ('Desk Chair', 8), ('Laptop', 3), ('Notebook', 70), ('Smartphone', 5)]

("SELECT products.product_name, SUM(sales.quantity) as total_quantities FROM sales JOIN products ON sales.product_id = products.product_id WHERE sales.sale_date >= '2025-11-01' AND sales.sale_date <= '2025-11-30' GROUP BY products.product_name",
 "[('Coffee Maker', 6), ('Desk Chair', 8), ('Laptop', 3), ('Notebook', 70), ('Smartphone', 5)]")

In [ ]:
question = "What date had the max notebooks sales quantity in November 2025?"
query, result = get_langchain_response(question, db, llm, verbose=True)

content=" Here is a syntactically correct SQL query that should answer your question:\n\n```sql\nSELECT sale_date\nFROM sales s\nJOIN products p ON s.product_id = p.product_id\nWHERE p.product_name = 'Notebook' AND EXTRACT(MONTH FROM s.sale_date) = 11 AND EXTRACT(YEAR FROM s.sale_date) = 2025\nGROUP BY sale_date\nORDER BY COUNT(s.quantity) DESC, sale_date DESC\nLIMIT 1;\n```\n\nThis query joins the sales and products tables on product_id, filters for 'Notebook' as the product name and November 2025 as the sale date, groups by the sale date, orders the results in descending order by quantity (max first) and then by date, and finally limits the result to the first row which should be the date with the max notebook sales quantity in November 2025." additional_kwargs={} response_metadata={'model': 'mistral', 'created_at': '2025-11-30T13:12:02.771532Z', 'done': True, 'done_reason': 'stop', 'total_duration': 6604298833, 'load_duration': 12354708, 'prompt_eval_count': 1394, 'prompt_eval_duration': 130772584, 'eval_count': 223, 'eval_duration': 6460367750, 'logprobs': None, 'model_name': 'mistral', 'model_provider': 'ollama'} id='lc_run--40e092d8-b78e-4962-801c-85c8e617c3da-0' usage_metadata={'input_tokens': 1394, 'output_tokens': 223, 'total_tokens': 1617}
SELECT sale_date FROM sales s JOIN products p ON s.product_id = p.product_id WHERE p.product_name = 'Notebook' AND EXTRACT(MONTH FROM s.sale_date) = 11 AND EXTRACT(YEAR FROM s.sale_date) = 2025 GROUP BY sale_date ORDER BY COUNT(s.quantity) DESC, sale_date DESC LIMIT 1
[(datetime.date(2025, 11, 10),)]

("SELECT sale_date FROM sales s JOIN products p ON s.product_id = p.product_id WHERE p.product_name = 'Notebook' AND EXTRACT(MONTH FROM s.sale_date) = 11 AND EXTRACT(YEAR FROM s.sale_date) = 2025 GROUP BY sale_date ORDER BY COUNT(s.quantity) DESC, sale_date DESC LIMIT 1",
 '[(datetime.date(2025, 11, 10),)]')